/* #exampleModal1 {
  display: flex !important;
  align-items: center !important;
  color: red;
}
.MuiBox-root.css-1acyv19 {
  border-radius: 10px;
} */
.input-style-7 {
  margin-bottom: 5px;
}

.bold-text-3 {
  font-size: 12px;
  font-weight: bold;
}
.main-box-8 {
  margin: 20px;
  margin-right: 20px;
}
