.Change-Password {
  color: "black";
  font-weight: 600;
  font-size: 18px;
}

.my-button {
  padding: 5px 10px;
  background: #efefef;
  width: 150px;
  border: 1px solid grey;
  cursor: pointer;
  font-size: 12px;
}

.centered-box-8 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
  padding: 16px 32px 24px;
}

.custom-button-9 {
  padding: 5px 10px;
  background: #efefef;
  width: 150px;
  border: 1px solid grey;
  cursor: pointer;
  font-size: 12px;
}

.custom-box-14 {
  border: 1px solid #139cec;
  position: absolute;
  z-index: 55;
  background: #ebf4fb;
  padding: 15px 30px;
}
